aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
attrs
cbor2
certifi
click
cloudpickle
colorama
contourpy
cycler
distro
einops
filelock
fonttools
frozenlist
fsspec
ftfy
grpclib
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hydra-core
hyperframe
idna
ImageIO
iniconfig
iopath
Jinja2
jiter
joblib
kiwisolver
lazy_loader
lightning-utilities
markdown-it-py
MarkupSafe
matplotlib
mdurl
modal
mpmath
multidict
networkx
numpy
omegaconf
open_clip_torch
openai
opencv-python
packaging
pandas
pillow
pluggy
portalocker
propcache
protobuf
psutil
pycocotools
pydantic
pydantic_core
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
PyYAML
regex
rich
safetensors
sam3-lora @ git+https://github.com/Sompote/SAM3_LoRA.git@e8744cf3aa7441421d1cf9e3f612679d78e3924e
scikit-image
scikit-learn
scipy
shellingham
six
sniffio
submitit
sympy
synchronicity
threadpoolctl
tifffile
timm
tokenizers
toml
torch
torchmetrics
torchvision
tqdm
transformers
typer
typer-slim
types-certifi
types-toml
typing-inspection
typing_extensions
tzdata
watchfiles
wcwidth
yarl
git+https://github.com/facebookresearch/sam3.git